# Configuration API Backend
NEXT_PUBLIC_API_URL=http://backend:3000/api

# Configuration pour le développement
NEXT_PUBLIC_ENV=development

# Configuration Keycloak
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_REALM=Chapter_One
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=Chapter_One
